@model advancedCharp.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet1.css" />
    <title>Index</title>
  <center>  <h1>INDICE</h1>
    <p>
     @Html.ActionLink("HomeuseExtension","useExtension");</p>
    @Html.ActionLink("HomeAutoProperty","AutoProperty");<p></p>
   <p></p>  @Html.ActionLink("HomeCreateCollection","CreateCollection"); </center>

</head>
<body>
    <div>
        
    </div>
</body>
</html>
